<div class="2xl:mb-16">
  <img class="w-full" src="assets/images/about/aboutHeaderImage.png" />
</div>

<app-container>
  <div
    class="
      flex flex-col
      justify-center
      inline-block
      text-center
      mb-8
      lg:mb-12
      2xl:mb-24
    "
  >
    <h1
      class="
        text-lg
        font-bold
        mb-2
        text-base
        sm:text-lg sm:mb-4
        lg:text-xl
        2xl:text-xxl
      "
    >
      About Hotel Howest
    </h1>
    <div
      class="
        bg-yellow-700
        opacity-20
        h-1
        w-24
        self-center
        rounded
        sm:w-32
        lg:w-40
        2xl:w-56
      "
    ></div>
  </div>

  <div class="m-auto self-center 2xl:w-9/12 mb-6">
    <section class="flex flex-col mb-20 lg:flex-row justify-evenly">
      <img
        class="mb-4 w-full m-0 justify-self-center self-center lg:w-5/12"
        src="assets/images/about/palmTrees.png"
      />
      <p
        class="
          justify-self-center
          self-center
          text-sm
          font-light
          leading-normal
          lg:w-5/12 lg:leading-6
          2xl:text-lg
        "
      >
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en
        zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze
        bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak
        met letters nam en ze door elkaar husselde om een font-catalogus te
        maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, .
      </p>
    </section>

    <section class="flex flex-col lg:flex-row-reverse justify-evenly">
      <img
        class="mb-4 w-full m-0 justify-self-center self-center lg:w-5/12"
        src="assets/images/about/hotel.png"
      />
      <p
        class="
          justify-self-center
          self-center
          text-sm
          font-light
          leading-normal
          lg:w-5/12 lg:leading-6
          2xl:text-lg
        "
      >
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en
        zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze
        bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak
        met letters nam en ze door elkaar husselde om een font-catalogus te
        maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, .
      </p>
    </section>
  </div>
</app-container>
